.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.flex-col{
    display: flex;
}
.width-auto{
    width:100%;
}
@media only screen and (min-width: 600px) {
    .width-auto{
        width:600px;
    }
}