.col-4 {
    flex: 0 0 auto;
    width: 50%;
}
.ct-label{
    margin-bottom: 0px;
    margin-left: 5px;
}

@media (max-width: 576px) {
    .col-4 {
        width: 50%;
    }
    .full-screen{
        height: 20px;
    }
}